.About>.ui.padded.segment {
    padding-top: 4em;
}

.About h1.ui.header.BigHeader {
    margin-top: 0;
}

.About .ui.cards>.card.trophyCard>.content:first-child {
    max-height: 14em;
    min-height: 14em;
}
