.CreateTrophy .ui.form .required.field>label:after {
    display: none;
}

.ui.segment.trophyListSegment {
    padding-right: 0.6em;
}

.trophyListItem {
    width: 20%;
}

.trophyListItem .ui.image {
    height: 5em;
}

.ui.horizontal.list>.item.trophyListItem {
    margin-left: 0;
    padding: 0.2em 0.4em 0.2em 0;
}
